.dice-container {
  @include flex-center-center;
  flex-direction: column;
  font-family: $font-main;
  border-radius: 3px;
  margin-bottom: 20%;

  .dice-wrapper {
    @include flex-center-center;
    margin: 10px 0;
  }

  .die-1 {
    @include die-default;
    animation: shake 1s 1;
  }

  .die-2 {
    @include die-default;
    animation: shake 1s 1;
  }

  .roll {
    width: 40px;
    height: 25px;
    background: $color-pop;
    box-shadow: 0px 2px 3px $color-dark;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
    font-family: $font-secondary;
    font-weight: 600;
    &:hover {
      transform: scale(1.1);
    }
  }
}

@keyframes shake {
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 850px) {
  .dice-container {
    box-shadow: none;
    margin-bottom: 10%;
    .die-1 {
      width: 30px;
      height: 30px;
    }
    .die-2 {
      width: 30px;
      height: 30px;
    }
  }
}
