.headerText {
  font-family: $font-logo;
  text-align: center;
  font-size: 5rem;
  padding-bottom: 2%;
}

.flexGameboard {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

@media (max-width: 600px) {
  .flexGameboard {
    display: inline-block;
  }
}
