.flexBoard {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.gameBoard {
  height: 65vh;
  width: 75vw;
  border: 6px solid #8e734c;
  border-radius: 3px;
  box-shadow: 2px 0px 5px #545454;
  margin-left: 5%;
  background-color: #e2c090;
  .flexBoard {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
