.typeTitle {
  font-size: larger;
  text-align: center;
  color: $color-pop;
  font-family: $font-secondary;
}

.cards {
  font-size: medium;
  text-align: center;
  font-family: $font-main;
}

.handText {
  text-align: center;
  font-size: x-large;
  font-family: $font-secondary;
  font-weight: 800;
}
