.handBox {
  @include table;
  border: none;

  .handText {
    @include table-thead;
    @include table-thead-th;
  }
  .typeTitle {
    @include table-thead;
    background: $color-pop;
  }
  .cards {
    font-size: medium;
    text-align: center;
    font-family: $font-main;
  }

  .noCards {
    color: red;
    font-style: italic;
  }

}