.handBox {
  @include table;
  border: none;

  .handText {
    @include table-thead;
    @include table-thead-th;
  }
  .typeTitle {
    // font-size: larger;
    // text-align: center;
    // color: $color-pop;
    // font-family: $font-secondary;
    @include table-thead;
    // border: 1px solid $color-darkest;
    background: $color-pop;
  }
  .cards {
    font-size: medium;
    text-align: center;
    font-family: $font-main;
  }

  .noCards {
    color: red;
    font-style: italic;
  }

}