.redToken {
  @include playerToken;
  background-color: $color-tRed;
}
.greenToken {
  @include playerToken;
  background-color: $color-tGreen;
}
.purpleToken {
  @include playerToken;
  background-color: $color-tPurple;
}
.orangeToken {
  @include playerToken;
  background-color: $color-tOrange;
}
.yellowToken {
  @include playerToken;
  background-color: $color-tYellow;
}
.blueToken {
  @include playerToken;
  background-color: $color-tBlue;
}

.playerName {
  font-family: $font-secondary;
  text-align: center;
  font-weight: 700;
  font-size: larger;
}

.infoText {
  max-width: 20vw;
  margin-top: 15%;
}

.playerInfo {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  .redToken {
    @include playerTokenMobile;
  }
  .greenToken {
    @include playerTokenMobile;
  }
  .purpleToken {
    @include playerTokenMobile;
  }
  .orangeToken {
    @include playerTokenMobile;
  }
  .yellowToken {
    @include playerTokenMobile;
  }
  .blueToken {
    @include playerTokenMobile;
  }

  .playerName {
    font-size: medium;
  }
  .playerInfo {
    min-width: 50vw;
  }
  .infoText {
    max-width: 35vw;
    padding-left: 5%;
  }
}
