.playerToken {
  width: 25px;
  height: 25px;
  background-color: green;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 25%;
}

.playerName {
  font-family: $font-secondary;
}

@media (max-width: 600px) {
  .playerToken {
    margin-top: 5%;
  }

  .playerName {
    text-align: center;
    font-weight: 700;
  }
}
