.GrottoBackground {
  background: linear-gradient(
      rgba(39, 35, 67, 0.45),
      rgba(75, 95, 107, 0.45),
      rgba(110, 136, 152, 0.45),
      rgba(227, 246, 245, 0.45)
    ),
    url("../assets/grotto.jpg");
  @include roomBg;
}

.Pool-HouseBackground {
  background: linear-gradient(
      rgba(39, 35, 67, 0.45),
      rgba(75, 95, 107, 0.45),
      rgba(110, 136, 152, 0.45),
      rgba(227, 246, 245, 0.45)
    ),
    url("../assets/pool-house.jpg");
  @include roomBg;
}

.LibraryBackground {
  background: linear-gradient(
      rgba(39, 35, 67, 0.35),
      rgba(75, 95, 107, 0.35),
      rgba(110, 136, 152, 0.35),
      rgba(227, 246, 245, 0.35)
    ),
    url("../assets/library.jpg");
  @include roomBg;
}

.KitchenBackground {
  background: linear-gradient(
      rgba(39, 35, 67, 0.35),
      rgba(75, 95, 107, 0.35),
      rgba(110, 136, 152, 0.35),
      rgba(227, 246, 245, 0.35)
    ),
    url("../assets/kitchen.jpg");
  @include roomBg;
}

.BasementBackground {
  background: linear-gradient(
      rgba(39, 35, 67, 0.45),
      rgba(75, 95, 107, 0.45),
      rgba(110, 136, 152, 0.45),
      rgba(227, 246, 245, 0.45)
    ),
    url("../assets/basement.jpg");
  @include roomBg;
}

.Wine-CellarBackground {
  background: linear-gradient(
      rgba(39, 35, 67, 0.45),
      rgba(75, 95, 107, 0.45),
      rgba(110, 136, 152, 0.45),
      rgba(227, 246, 245, 0.45)
    ),
    url("../assets/wine-cellar.jpg");
  @include roomBg;
}

.FoyerBackground {
  background: linear-gradient(
      rgba(39, 35, 67, 0.45),
      rgba(75, 95, 107, 0.45),
      rgba(110, 136, 152, 0.45),
      rgba(227, 246, 245, 0.45)
    ),
    url("../assets/foyer.jpg");
  background-size: cover;
  @include roomBg;
}

.GardenBackground {
  background: linear-gradient(
      rgba(39, 35, 67, 0.45),
      rgba(75, 95, 107, 0.45),
      rgba(110, 136, 152, 0.45),
      rgba(227, 246, 245, 0.45)
    ),
    url("../assets/garden.jpg");
  @include roomBg;
}

.Master-BedroomBackground {
  background: linear-gradient(
      rgba(39, 35, 67, 0.45),
      rgba(75, 95, 107, 0.45),
      rgba(110, 136, 152, 0.45),
      rgba(227, 246, 245, 0.45)
    ),
    url("../assets/master-bedroom.jpg");
  @include roomBg;
}

.flexTokens {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.redCurrent {
  @include currentTokenStyle;
  background-color: $color-tRed;
}

.greenCurrent {
  @include currentTokenStyle;
  background-color: $color-tGreen;
}

.purpleCurrent {
  @include currentTokenStyle;
  background-color: $color-tPurple;
}

.orangeCurrent {
  @include currentTokenStyle;
  background-color: $color-tOrange;
}

.yellowCurrent {
  @include currentTokenStyle;
  background-color: $color-tYellow;
}

.blueCurrent {
  @include currentTokenStyle;
  background-color: $color-tBlue;
}

.filler {
  height: 25px;
  margin-top: 5px;
}

.roomName {
  color: white;
  text-align: center;
  padding-top: 25%;
  font-family: $font-secondary;
  font-weight: 800;
  font-size: 1.25rem;
  text-shadow: 3px 2px 3px black;
}

@media (max-width: 850px) {
  .roomName {
    font-size: 0.75rem;
    max-width: 20vw;
    margin: 0 auto;
    padding-top: 5%;
  }
  .GrottoBackground {
    @include tabletRoomBg;
  }
  .Pool-HouseBackground {
    @include tabletRoomBg;
  }
  .LibraryBackground {
    @include tabletRoomBg;
  }
  .KitchenBackground {
    @include tabletRoomBg;
  }
  .BasementBackground {
    @include tabletRoomBg;
  }
  .Wine-CellarBackground {
    @include tabletRoomBg;
  }
  .FoyerBackground {
    @include tabletRoomBg;
  }
  .GardenBackground {
    @include tabletRoomBg;
  }
  .Master-BedroomBackground {
    @include tabletRoomBg;
  }
  .redCurrent {
    @include tokenMobileStyle;
  }
  .greenCurrent {
    @include tokenMobileStyle;
  }
  .purpleCurrent {
    @include tokenMobileStyle;
  }
  .orangeCurrent {
    @include tokenMobileStyle;
  }
  .yellowCurrent {
    @include tokenMobileStyle;
  }
  .blueCurrent {
    @include tokenMobileStyle;
  }
  .filler {
    height: 15px;
  }
}

@media (max-width: 600px) {
  .roomName {
    font-size: 0.75rem;
    max-width: 20vw;
    margin: 0 auto;
  }
  .GrottoBackground {
    @include mobileRoomBg;
  }
  .Pool-HouseBackground {
    @include mobileRoomBg;
  }
  .LibraryBackground {
    @include mobileRoomBg;
  }
  .KitchenBackground {
    @include mobileRoomBg;
  }
  .BasementBackground {
    @include mobileRoomBg;
  }
  .Wine-CellarBackground {
    @include mobileRoomBg;
  }
  .FoyerBackground {
    @include mobileRoomBg;
  }
  .GardenBackground {
    @include mobileRoomBg;
  }
  .Master-BedroomBackground {
    @include mobileRoomBg;
  }
  .redCurrent {
    @include tokenMobileStyle;
  }
  .greenCurrent {
    @include tokenMobileStyle;
  }
  .purpleCurrent {
    @include tokenMobileStyle;
  }
  .orangeCurrent {
    @include tokenMobileStyle;
  }
  .yellowCurrent {
    @include tokenMobileStyle;
  }
  .blueCurrent {
    @include tokenMobileStyle;
  }
  .filler {
    height: 15px;
  }
}
