$color-primary: #bae8e8;
$color-light: #e3f6f5;
$color-dark: #6e8898;
$color-darkest: #272343;
$color-pop: #ffd803;
$color-red: #ff4f58;
$color-green: #3b9465;
$color-purple: #5f4b66;
$color-orange: #ecad5f;

$font-secondary: "Nunito Sans", sans-serif;
$font-logo: "Righteous", cursive;
$font-main: "Roboto Condensed", sans-serif;
