$color-primary: #BAE8E8;
$color-light: #E3F6F5;
$color-dark: #6E8898;
$color-darkest: #272343;
$color-pop: #FFD803;


$font-secondary: 'Nunito Sans', sans-serif;
$font-logo: 'Righteous', cursive;
$font-main: 'Roboto Condensed', sans-serif;