.lobby {
  background-color: #BAE8E8;
  text-align: center;
}

.lobby h1 {
  color: #FFD803;
}
.dice-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  background: #E3F6F5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto Condensed", sans-serif;
}

.dice-container .dice-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.dice-container .die-1 {
  color: #272343;
  font-size: 40px;
  -webkit-animation: shake 1s 1;
          animation: shake 1s 1;
}

.dice-container .die-2 {
  color: #272343;
  font-size: 40px;
  -webkit-animation: shake 1s 1;
          animation: shake 1s 1;
}

.dice-container .roll {
  width: 40px;
  height: 25px;
  background: #FFD803;
  -webkit-box-shadow: 0px 2px 3px #6E8898;
          box-shadow: 0px 2px 3px #6E8898;
  border: none;
  border-radius: 10px;
  margin: 10px 0;
}

.dice-container .roll:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes shake {
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shake {
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.flexBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gameBoard {
  height: 65vh;
  width: 75vw;
  border: 6px solid #8e734c;
  border-radius: 3px;
  -webkit-box-shadow: 2px 0px 5px #545454;
          box-shadow: 2px 0px 5px #545454;
  margin-left: 5%;
  background-color: #e2c090;
}

.gameBoard .flexBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.headerText {
  font-family: "Righteous", cursive;
  text-align: center;
  font-size: 5rem;
  padding-bottom: 2%;
}

.blueRoom {
  height: 20vh;
  width: 20vw;
  background-color: #6e8898;
  margin-top: 1%;
  margin-left: 1%;
  border-radius: 3px;
}

.blueText {
  text-align: center;
  padding-top: 40%;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}

.redRoom {
  height: 20vh;
  width: 20vw;
  background-color: #ff4f58;
  margin-top: 1%;
  margin-left: 1%;
  border-radius: 3px;
}

.redText {
  text-align: center;
  padding-top: 40%;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}

.greenRoom {
  height: 20vh;
  width: 20vw;
  background-color: #3b9465;
  margin-top: 1%;
  margin-left: 1%;
  border-radius: 3px;
}

.greenText {
  text-align: center;
  padding-top: 40%;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}

.purpleRoom {
  height: 20vh;
  width: 20vw;
  background-color: #5f4b66;
  margin-top: 1%;
  margin-left: 1%;
  border-radius: 3px;
}

.purpleText {
  text-align: center;
  padding-top: 40%;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}

.homeRoom {
  height: 20vh;
  width: 20vw;
  margin-top: 1%;
  margin-left: 1%;
  border-radius: 3px;
  border: 2px solid #8e734c;
}

.homeText {
  text-align: center;
  padding-top: 40%;
  color: #8e734c;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}

.yellowRoom {
  height: 20vh;
  width: 20vw;
  margin-top: 1%;
  margin-left: 1%;
  border-radius: 3px;
  background-color: #ffd803;
}

.yellowText {
  text-align: center;
  padding-top: 40%;
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}

.orangeRoom {
  height: 20vh;
  width: 20vw;
  margin-top: 1%;
  margin-left: 1%;
  border-radius: 3px;
  background-color: #ecad5f;
}

.orangeText {
  text-align: center;
  padding-top: 40%;
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}
/*# sourceMappingURL=index.css.map */