.gameBoard {
  height: 65vh;
  width: 75vw;
  border: 4px solid #6e8898;
  border-radius: 3px;
  -webkit-box-shadow: 2px 0px 5px #545454;
          box-shadow: 2px 0px 5px #545454;
  margin-left: 1%;
  margin-bottom: 5%;
  background-color: #e3f6f5;
}

.gameBoard .flexBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 850px) {
  .gameBoard {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media (max-width: 600px) {
  .gameBoard {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 5%;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .gameBoard .flexBoard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.headerText {
  font-family: "Righteous", cursive;
  color: #ffd803;
  text-align: center;
  font-size: 5rem;
  padding-bottom: 2%;
  text-shadow: 2px 1px 5px #545454;
  min-width: 75vw;
}

.topbar {
  margin-left: 4.2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topbar .suggestAccuseBtns {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 30px;
  text-align: center;
  margin-bottom: 2%;
}

.topbar .opponentlegend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 30px;
  max-width: 100%;
}

.topbar .opponentlegend span {
  background-color: #e3f6f5;
  min-width: 80px;
  height: 26px;
  border: 1px solid #272343;
  border-radius: 6px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5px 20px;
  font-family: "Roboto Condensed", sans-serif;
}

.topbar .opponentlegend span p {
  min-width: 40px;
}

.modalBtnStyling {
  background-color: #ffd803;
  height: 25px;
  -webkit-box-shadow: 0px 2px 3px #6e8898;
          box-shadow: 0px 2px 3px #6e8898;
  border: none;
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

.modalBtnStyling:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.headerBar {
  width: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.ruleBtn {
  background-color: #ffd803;
  height: 25px;
  -webkit-box-shadow: 0px 2px 3px #6e8898;
          box-shadow: 0px 2px 3px #6e8898;
  border: none;
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  width: 10vw;
  text-align: center;
}

.ruleBtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.flexGameboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flexGameboard .sideBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 15vw;
  height: 60vh;
  border: 4px solid #6e8898;
  padding: 1%;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 3px;
  background-color: #e3f6f5;
  -webkit-box-shadow: 2px 0px 5px #545454;
          box-shadow: 2px 0px 5px #545454;
}

@media (max-width: 850px) {
  .headerText {
    font-size: 3rem;
  }
  .flexGameboard {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flexGameboard .sideBar {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
    max-width: 100%;
    height: 72.5vh;
  }
  .flexGameboard .sideBar .ruleBtn {
    margin-bottom: 10%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .flexGameboard .sideBar .mobileFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 600px) {
  .headerText {
    font-size: 3.5rem;
  }
  .topbar {
    width: 90vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .topbar .suggestAccuseBtns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .topbar .opponentlegend {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .headerBar {
    width: 100vw;
  }
  .flexGameboard {
    display: inline-block;
  }
  .flexGameboard .sideBar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    margin-bottom: 10px;
    max-width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .flexGameboard .sideBar .ruleBtn {
    margin-bottom: 10%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .flexGameboard .sideBar .mobileFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 10%;
  }
}

.GrottoBackground {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 35, 67, 0.45)), color-stop(rgba(75, 95, 107, 0.45)), color-stop(rgba(110, 136, 152, 0.45)), to(rgba(227, 246, 245, 0.45))), url("../assets/grotto.jpg");
  background: linear-gradient(rgba(39, 35, 67, 0.45), rgba(75, 95, 107, 0.45), rgba(110, 136, 152, 0.45), rgba(227, 246, 245, 0.45)), url("../assets/grotto.jpg");
  width: 20vw;
  height: 20vh;
  margin-top: 1%;
  border-radius: 3px;
}

.Pool-HouseBackground {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 35, 67, 0.45)), color-stop(rgba(75, 95, 107, 0.45)), color-stop(rgba(110, 136, 152, 0.45)), to(rgba(227, 246, 245, 0.45))), url("../assets/pool-house.jpg");
  background: linear-gradient(rgba(39, 35, 67, 0.45), rgba(75, 95, 107, 0.45), rgba(110, 136, 152, 0.45), rgba(227, 246, 245, 0.45)), url("../assets/pool-house.jpg");
  width: 20vw;
  height: 20vh;
  margin-top: 1%;
  border-radius: 3px;
}

.LibraryBackground {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 35, 67, 0.35)), color-stop(rgba(75, 95, 107, 0.35)), color-stop(rgba(110, 136, 152, 0.35)), to(rgba(227, 246, 245, 0.35))), url("../assets/library.jpg");
  background: linear-gradient(rgba(39, 35, 67, 0.35), rgba(75, 95, 107, 0.35), rgba(110, 136, 152, 0.35), rgba(227, 246, 245, 0.35)), url("../assets/library.jpg");
  width: 20vw;
  height: 20vh;
  margin-top: 1%;
  border-radius: 3px;
}

.KitchenBackground {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 35, 67, 0.35)), color-stop(rgba(75, 95, 107, 0.35)), color-stop(rgba(110, 136, 152, 0.35)), to(rgba(227, 246, 245, 0.35))), url("../assets/kitchen.jpg");
  background: linear-gradient(rgba(39, 35, 67, 0.35), rgba(75, 95, 107, 0.35), rgba(110, 136, 152, 0.35), rgba(227, 246, 245, 0.35)), url("../assets/kitchen.jpg");
  width: 20vw;
  height: 20vh;
  margin-top: 1%;
  border-radius: 3px;
}

.BasementBackground {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 35, 67, 0.45)), color-stop(rgba(75, 95, 107, 0.45)), color-stop(rgba(110, 136, 152, 0.45)), to(rgba(227, 246, 245, 0.45))), url("../assets/basement.jpg");
  background: linear-gradient(rgba(39, 35, 67, 0.45), rgba(75, 95, 107, 0.45), rgba(110, 136, 152, 0.45), rgba(227, 246, 245, 0.45)), url("../assets/basement.jpg");
  width: 20vw;
  height: 20vh;
  margin-top: 1%;
  border-radius: 3px;
}

.Wine-CellarBackground {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 35, 67, 0.45)), color-stop(rgba(75, 95, 107, 0.45)), color-stop(rgba(110, 136, 152, 0.45)), to(rgba(227, 246, 245, 0.45))), url("../assets/wine-cellar.jpg");
  background: linear-gradient(rgba(39, 35, 67, 0.45), rgba(75, 95, 107, 0.45), rgba(110, 136, 152, 0.45), rgba(227, 246, 245, 0.45)), url("../assets/wine-cellar.jpg");
  width: 20vw;
  height: 20vh;
  margin-top: 1%;
  border-radius: 3px;
}

.FoyerBackground {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 35, 67, 0.45)), color-stop(rgba(75, 95, 107, 0.45)), color-stop(rgba(110, 136, 152, 0.45)), to(rgba(227, 246, 245, 0.45))), url("../assets/foyer.jpg");
  background: linear-gradient(rgba(39, 35, 67, 0.45), rgba(75, 95, 107, 0.45), rgba(110, 136, 152, 0.45), rgba(227, 246, 245, 0.45)), url("../assets/foyer.jpg");
  width: 20vw;
  height: 20vh;
  margin-top: 1%;
  border-radius: 3px;
}

.GardenBackground {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 35, 67, 0.45)), color-stop(rgba(75, 95, 107, 0.45)), color-stop(rgba(110, 136, 152, 0.45)), to(rgba(227, 246, 245, 0.45))), url("../assets/garden.jpg");
  background: linear-gradient(rgba(39, 35, 67, 0.45), rgba(75, 95, 107, 0.45), rgba(110, 136, 152, 0.45), rgba(227, 246, 245, 0.45)), url("../assets/garden.jpg");
  width: 20vw;
  height: 20vh;
  margin-top: 1%;
  border-radius: 3px;
}

.Master-BedroomBackground {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 35, 67, 0.45)), color-stop(rgba(75, 95, 107, 0.45)), color-stop(rgba(110, 136, 152, 0.45)), to(rgba(227, 246, 245, 0.45))), url("../assets/master-bedroom.jpg");
  background: linear-gradient(rgba(39, 35, 67, 0.45), rgba(75, 95, 107, 0.45), rgba(110, 136, 152, 0.45), rgba(227, 246, 245, 0.45)), url("../assets/master-bedroom.jpg");
  width: 20vw;
  height: 20vh;
  margin-top: 1%;
  border-radius: 3px;
}

.flexTokens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.redCurrent {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  background-color: #ff4f58;
}

.greenCurrent {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  background-color: #3b9465;
}

.purpleCurrent {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  background-color: #5f4b66;
}

.orangeCurrent {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  background-color: #ecad5f;
}

.yellowCurrent {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  background-color: #ffd803;
}

.blueCurrent {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  background-color: #6e8898;
}

.filler {
  height: 25px;
  margin-top: 5px;
}

.roomName {
  color: white;
  text-align: center;
  padding-top: 25%;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  text-shadow: 3px 2px 3px black;
}

@media (max-width: 850px) {
  .roomName {
    font-size: 0.75rem;
    max-width: 20vw;
    margin: 0 auto;
    padding-top: 5%;
  }
  .GrottoBackground {
    width: 20vw;
    height: 22vh;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .Pool-HouseBackground {
    width: 20vw;
    height: 22vh;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .LibraryBackground {
    width: 20vw;
    height: 22vh;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .KitchenBackground {
    width: 20vw;
    height: 22vh;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .BasementBackground {
    width: 20vw;
    height: 22vh;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .Wine-CellarBackground {
    width: 20vw;
    height: 22vh;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .FoyerBackground {
    width: 20vw;
    height: 22vh;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .GardenBackground {
    width: 20vw;
    height: 22vh;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .Master-BedroomBackground {
    width: 20vw;
    height: 22vh;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .redCurrent {
    width: 15px;
    height: 15px;
  }
  .greenCurrent {
    width: 15px;
    height: 15px;
  }
  .purpleCurrent {
    width: 15px;
    height: 15px;
  }
  .orangeCurrent {
    width: 15px;
    height: 15px;
  }
  .yellowCurrent {
    width: 15px;
    height: 15px;
  }
  .blueCurrent {
    width: 15px;
    height: 15px;
  }
  .filler {
    height: 15px;
  }
}

@media (max-width: 600px) {
  .roomName {
    font-size: 0.75rem;
    max-width: 20vw;
    margin: 0 auto;
  }
  .GrottoBackground {
    width: 22vw;
    height: 15vh;
    margin-top: 10%;
  }
  .Pool-HouseBackground {
    width: 22vw;
    height: 15vh;
    margin-top: 10%;
  }
  .LibraryBackground {
    width: 22vw;
    height: 15vh;
    margin-top: 10%;
  }
  .KitchenBackground {
    width: 22vw;
    height: 15vh;
    margin-top: 10%;
  }
  .BasementBackground {
    width: 22vw;
    height: 15vh;
    margin-top: 10%;
  }
  .Wine-CellarBackground {
    width: 22vw;
    height: 15vh;
    margin-top: 10%;
  }
  .FoyerBackground {
    width: 22vw;
    height: 15vh;
    margin-top: 10%;
  }
  .GardenBackground {
    width: 22vw;
    height: 15vh;
    margin-top: 10%;
  }
  .Master-BedroomBackground {
    width: 22vw;
    height: 15vh;
    margin-top: 10%;
  }
  .redCurrent {
    width: 15px;
    height: 15px;
  }
  .greenCurrent {
    width: 15px;
    height: 15px;
  }
  .purpleCurrent {
    width: 15px;
    height: 15px;
  }
  .orangeCurrent {
    width: 15px;
    height: 15px;
  }
  .yellowCurrent {
    width: 15px;
    height: 15px;
  }
  .blueCurrent {
    width: 15px;
    height: 15px;
  }
  .filler {
    height: 15px;
  }
}

.dice-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 3px;
  margin-bottom: 20%;
}

.dice-container .dice-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.dice-container .die-1 {
  color: #272343;
  font-size: 40px;
  -webkit-animation: shake 1s 1;
          animation: shake 1s 1;
}

.dice-container .die-2 {
  color: #272343;
  font-size: 40px;
  -webkit-animation: shake 1s 1;
          animation: shake 1s 1;
}

.dice-container .roll {
  width: 40px;
  height: 25px;
  background: #ffd803;
  -webkit-box-shadow: 0px 2px 3px #6e8898;
          box-shadow: 0px 2px 3px #6e8898;
  border: none;
  border-radius: 10px;
  margin: 10px 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

.dice-container .roll:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes shake {
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shake {
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media (max-width: 850px) {
  .dice-container {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-bottom: 10%;
  }
  .dice-container .die-1 {
    width: 30px;
    height: 30px;
  }
  .dice-container .die-2 {
    width: 30px;
    height: 30px;
  }
}

.lobby {
  background-color: #bae8e8;
  text-align: center;
}

.lobby h1 {
  color: #ffd803;
}

.redToken {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 15%;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  background-color: #ff4f58;
}

.greenToken {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 15%;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  background-color: #3b9465;
}

.purpleToken {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 15%;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  background-color: #5f4b66;
}

.orangeToken {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 15%;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  background-color: #ecad5f;
}

.yellowToken {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 15%;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  background-color: #ffd803;
}

.blueToken {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 15%;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  background-color: #6e8898;
}

.playerName {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: larger;
}

.infoText {
  max-width: 20vw;
  margin-top: 15%;
}

.playerInfo {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 850px) {
  .redToken {
    margin-top: 5%;
  }
  .greenToken {
    margin-top: 5%;
  }
  .purpleToken {
    margin-top: 5%;
  }
  .orangeToken {
    margin-top: 5%;
  }
  .yellowToken {
    margin-top: 5%;
  }
  .blueToken {
    margin-top: 5%;
  }
  .playerName {
    font-size: small;
    margin-top: 5%;
  }
  .infoText {
    font-size: smaller;
  }
}

@media (max-width: 600px) {
  .redToken {
    margin-top: 15%;
  }
  .greenToken {
    margin-top: 15%;
  }
  .purpleToken {
    margin-top: 15%;
  }
  .orangeToken {
    margin-top: 15%;
  }
  .yellowToken {
    margin-top: 15%;
  }
  .blueToken {
    margin-top: 15%;
  }
  .playerName {
    font-size: medium;
  }
  .playerInfo {
    min-width: 50vw;
  }
  .infoText {
    max-width: 35vw;
    padding-left: 5%;
  }
}

.accuseSuggestModal {
  background-color: white;
  border: 1px solid #6e8898;
  border-radius: 5px;
  position: absolute;
  top: 25vh;
  left: 25vw;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35vw;
  height: 12.5vh;
}

.accuseSuggestModal .title {
  width: 100%;
  text-align: center;
}

.accuseSuggestModal .title p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
}

.closeModal {
  background: none;
  border: none;
  font-size: 1rem;
  color: #272343;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  top: -16px;
  right: -10px;
}

.modal_display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 5%;
}

.modal_display select {
  max-width: 200px;
}

.suspectSelect {
  margin-right: 5%;
  margin-bottom: 5%;
  width: 32vw;
}

.roomSelect {
  margin-right: 5%;
  margin-bottom: 5%;
  width: 32vw;
}

.weaponSelect {
  margin-bottom: 5%;
  width: 32vw;
}

.flexBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flexBtns .btnSuggest {
  background-color: #6e8898;
  color: white;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  -webkit-box-shadow: 0px 2px 3px #272343;
          box-shadow: 0px 2px 3px #272343;
}

.flexBtns .btnSuggest:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.flexBtns .btnAccuse {
  background-color: #ffd803;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  -webkit-box-shadow: 0px 2px 3px #272343;
          box-shadow: 0px 2px 3px #272343;
}

.flexBtns .btnAccuse:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 600px) {
  .accuseSuggestModal {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5%;
  }
  .modal_display {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .flexBtns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flexBtns .btnAccuse {
    margin-top: 5%;
  }
  .flexBtns .btnSuggest {
    margin-top: 5%;
  }
}

@media (max-width: 850px) {
  .accuseSuggestModal {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5%;
    width: 50vw;
    left: 20vw;
  }
  .flexBtns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flexBtns .btnAccuse {
    margin-top: 5%;
  }
  .flexBtns .btnSuggest {
    margin-top: 5%;
  }
}

.accuseModal {
  background-color: white;
  border: 1px solid #6e8898;
  border-radius: 5px;
  position: absolute;
  top: 25vh;
  left: 25vw;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vw;
  height: 15vh;
}

.accuseText {
  font-size: 24px;
  margin-bottom: 5%;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}

.accusationText {
  font-size: 18px;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.selectedText {
  font-weight: 600;
  color: #4b5f6b;
}

.flexBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flexBtns .backBtn {
  background-color: #6e8898;
  color: white;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  -webkit-box-shadow: 0px 2px 3px #272343;
          box-shadow: 0px 2px 3px #272343;
}

.flexBtns .backBtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.flexBtns .confirmBtn {
  background-color: #ffd803;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  -webkit-box-shadow: 0px 2px 3px #272343;
          box-shadow: 0px 2px 3px #272343;
}

.flexBtns .confirmBtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 600px) {
  .accuseModal {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5%;
    width: 50vw;
    left: 20vw;
  }
  .accuseText {
    font-size: larger;
  }
  .accusationText {
    font-size: medium;
    padding-bottom: 5%;
    text-align: left;
  }
  .flexBtns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flexBtns .backBtn {
    margin-top: 5%;
  }
  .flexBtns .confirmBtn {
    margin-top: 5%;
  }
}

@media (max-width: 850px) {
  .accuseModal {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5%;
  }
  .flexBtns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flexBtns .backBtn {
    margin-top: 5%;
  }
  .flexBtns .confirmBtn {
    margin-top: 5%;
  }
}

.suggestModal {
  background-color: white;
  border: 1px solid #6e8898;
  border-radius: 5px;
  position: absolute;
  top: 25vh;
  left: 25vw;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35vw;
  height: 12.5vh;
  left: 25vw;
  top: 26vh;
}

.suggestText {
  font-size: 18px;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.flexBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flexBtns .btnEndTurn {
  background-color: #6e8898;
  color: white;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  -webkit-box-shadow: 0px 2px 3px #272343;
          box-shadow: 0px 2px 3px #272343;
}

.flexBtns .btnEndTurn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.flexBtns .btnAccuse {
  background-color: #ffd803;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  -webkit-box-shadow: 0px 2px 3px #272343;
          box-shadow: 0px 2px 3px #272343;
}

.flexBtns .btnAccuse:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 600px) {
  .suggestModal {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5%;
    width: 50vw;
    height: 25vh;
    left: 20vw;
    top: 26.5vh;
  }
  .suggestText {
    font-size: large;
  }
}

.winModal {
  background-color: white;
  border: 1px solid #6e8898;
  border-radius: 5px;
  position: absolute;
  top: 25vh;
  left: 25vw;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30vw;
  height: 12.5vh;
  left: 30vw;
  top: 26vh;
}

.winText {
  font-size: 24px;
  margin-bottom: 5%;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}

.playAgainBtn {
  background-color: #ffd803;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  -webkit-box-shadow: 0px 2px 3px #272343;
          box-shadow: 0px 2px 3px #272343;
}

.playAgainBtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 600px) {
  .winModal {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5%;
    width: 45vw;
    height: 20vh;
    left: 22.5vw;
    top: 28.5vh;
  }
  .winText {
    font-size: larger;
  }
  .playAgainBtn {
    margin-top: 5%;
  }
}

@media (max-width: 850px) {
  .winModal {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5%;
    top: 30vh;
  }
  .playAgainBtn {
    margin-top: 5%;
  }
}

.loseModal {
  background-color: white;
  border: 1px solid #6e8898;
  border-radius: 5px;
  position: absolute;
  top: 25vh;
  left: 25vw;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30vw;
  height: 12.5vh;
  left: 30vw;
  top: 26vh;
}

.loseText {
  font-size: 24px;
  margin-bottom: 5%;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}

.flexBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flexBtns .continueBtn {
  background-color: #6e8898;
  color: white;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  -webkit-box-shadow: 0px 2px 3px #272343;
          box-shadow: 0px 2px 3px #272343;
}

.flexBtns .continueBtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.flexBtns .leaveBtn {
  background-color: #ffd803;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  -webkit-box-shadow: 0px 2px 3px #272343;
          box-shadow: 0px 2px 3px #272343;
}

.flexBtns .leaveBtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 600px) {
  .loseModal {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5%;
    width: 45vw;
    height: 20vh;
    left: 22.5vw;
    top: 28.5vh;
  }
  .loseText {
    font-size: larger;
  }
  .flexBtns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flexBtns .continueBtn {
    margin-top: 5%;
  }
  .flexBtns .leaveBtn {
    margin-top: 5%;
  }
}

@media (max-width: 850px) {
  .loseModal {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5%;
    top: 30vh;
  }
  .flexBtns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flexBtns .continueBtn {
    margin-top: 5%;
  }
  .flexBtns .leaveBtn {
    margin-top: 5%;
  }
}

.suggestModal {
  background-color: white;
  border: 1px solid #6e8898;
  border-radius: 5px;
  position: absolute;
  top: 25vh;
  left: 25vw;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35vw;
  height: 12.5vh;
  left: 25vw;
  top: 26vh;
}

.suggestText {
  font-size: 18px;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.flexBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flexBtns .btnEndTurn {
  background-color: #6e8898;
  color: white;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  -webkit-box-shadow: 0px 2px 3px #272343;
          box-shadow: 0px 2px 3px #272343;
}

.flexBtns .btnEndTurn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.flexBtns .btnAccuse {
  background-color: #ffd803;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  -webkit-box-shadow: 0px 2px 3px #272343;
          box-shadow: 0px 2px 3px #272343;
}

.flexBtns .btnAccuse:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 600px) {
  .suggestModal {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5%;
    width: 50vw;
    height: 25vh;
    left: 20vw;
    top: 26.5vh;
  }
  .suggestText {
    font-size: large;
  }
}

footer {
  position: absolute;
  bottom: 0;
  background: #aab9c2;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 10px;
  font-family: "Roboto Condensed", sans-serif;
}

footer .notebtn {
  width: 150px;
  height: 20px;
  background: #ffd803;
  -webkit-box-shadow: 0px 2px 3px #6e8898;
          box-shadow: 0px 2px 3px #6e8898;
  border: none;
  border-radius: 10px;
  margin: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

footer .notebtn:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  cursor: pointer;
}

footer .notebook-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .notebook-container .openNotebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

footer .notebook-container .openNotebook table.suspects {
  border: 1px solid #141222;
  background: #e3f6f5;
  margin: 0 20px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 2px #272343;
          box-shadow: 2px 2px 2px #272343;
}

footer .notebook-container .openNotebook table.suspects td,
footer .notebook-container .openNotebook table.suspects th {
  border: 1px solid #6e8898;
  padding: 2px 2px;
}

footer .notebook-container .openNotebook table.suspects thead {
  background: #6e8898;
}

footer .notebook-container .openNotebook table.suspects thead th {
  font-weight: 600;
  color: #000;
  text-align: center;
}

footer .notebook-container .openNotebook table.weapons {
  border: 1px solid #141222;
  background: #e3f6f5;
  margin: 0 20px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 2px #272343;
          box-shadow: 2px 2px 2px #272343;
}

footer .notebook-container .openNotebook table.weapons td,
footer .notebook-container .openNotebook table.weapons th {
  border: 1px solid #6e8898;
  padding: 2px 2px;
}

footer .notebook-container .openNotebook table.weapons thead {
  background: #6e8898;
}

footer .notebook-container .openNotebook table.weapons thead th {
  font-weight: 600;
  color: #000;
  text-align: center;
}

footer .notebook-container .openNotebook table.locations {
  border: 1px solid #141222;
  background: #e3f6f5;
  margin: 0 20px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 2px #272343;
          box-shadow: 2px 2px 2px #272343;
}

footer .notebook-container .openNotebook table.locations td,
footer .notebook-container .openNotebook table.locations th {
  border: 1px solid #6e8898;
  padding: 2px 2px;
}

footer .notebook-container .openNotebook table.locations thead {
  background: #6e8898;
}

footer .notebook-container .openNotebook table.locations thead th {
  font-weight: 600;
  color: #000;
  text-align: center;
}

footer .notebook-container .openNotebook input[type='checkbox']:hover {
  border: 10px solid yellowgreen;
  -webkit-box-shadow: 2px 2px 5px #272343;
          box-shadow: 2px 2px 5px #272343;
}

footer .notebook-container .close {
  height: 0px;
}

@media (max-width: 850px) {
  footer {
    position: relative;
  }
}

@media (max-width: 600px) {
  footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .notebook-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .notebook-container .openNotebook {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .notebook-container .openNotebook table.suspects {
    margin-bottom: 5%;
  }
  footer .notebook-container .openNotebook table.weapons {
    margin-bottom: 5%;
  }
  footer .notebook-container .openNotebook table.locations {
    margin-bottom: 5%;
  }
}

.handBox {
  border: 1px solid #141222;
  background: #e3f6f5;
  margin: 0 20px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 2px #272343;
          box-shadow: 2px 2px 2px #272343;
  border: none;
}

.handBox .handText {
  background: #6e8898;
  font-weight: 600;
  color: #000;
  text-align: center;
}

.handBox .typeTitle {
  background: #6e8898;
  background: #ffd803;
}

.handBox .cards {
  font-size: medium;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.handBox .noCards {
  color: red;
  font-style: italic;
}

.waitingModal {
  background-color: white;
  border: 1px solid #6e8898;
  border-radius: 5px;
  position: absolute;
  top: 25vh;
  left: 25vw;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.waitingModal {
  font-size: 24px;
  margin-bottom: 5%;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}

.ruleModal {
  background-color: white;
  border: 1px solid #6e8898;
  border-radius: 5px;
  position: absolute;
  top: 25vh;
  left: 25vw;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.largeText {
  font-family: "Nunito Sans", sans-serif;
  font-size: x-large;
  color: #4b5f6b;
  padding-bottom: 3%;
}

.subheader {
  font-family: "Nunito Sans", sans-serif;
  font-size: large;
  color: #4b5f6b;
  padding-bottom: 2%;
}

.listText {
  font-family: "Roboto Condensed", sans-serif;
  font-size: medium;
  padding-bottom: 2%;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 1rem;
  color: #272343;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 850px) {
  .ruleModal {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5%;
    top: 3vh;
  }
  .largeText {
    font-size: medium;
  }
  .subheader {
    font-size: small;
  }
  .listText {
    font-size: smaller;
  }
}

@media (max-width: 600px) {
  .ruleModal {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5%;
    padding: 2%;
    width: 75vw;
    top: 15vh;
    left: 10vw;
  }
  .largeText {
    font-size: larger;
  }
  .subheader {
    font-size: medium;
  }
  .listText {
    font-size: small;
  }
}

.resetModal {
  background-color: white;
  border: 1px solid #6e8898;
  border-radius: 5px;
  position: absolute;
  top: 25vh;
  left: 25vw;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35vw;
  height: 8vh;
  left: 25vw;
  top: 26vh;
}

.resetText {
  font-size: 18px;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

@media (max-width: 600px) {
  .resetModal {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5%;
    width: 45vw;
    height: 20vh;
    left: 22.5vw;
    top: 28.5vh;
  }
  .resetText {
    font-size: larger;
  }
}

@media (max-width: 850px) {
  .resetModal {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5%;
    top: 30vh;
  }
  .resetText {
    font-size: larger;
  }
}

.App {
  background: radial-gradient(25% 50% at 50% 0%, rgba(255, 255, 255, 0.6) 20%, rgba(78, 78, 77, 0.75) 80%);
  background-color: rgba(26, 26, 25, 0.75);
}
/*# sourceMappingURL=index.css.map */